@{
    ViewBag.Title = "Divulgue";
}
<article>
<h2>Divulgue</h2>
<p>Ajude a divulgar o <strong>DevDay</strong> colocando o conteúdo abaixo no seu site.</p>

<div id="exemploDivulgue">
<a href="http://devday.devisland.com" target="_blank" >
<img alt="Eu vou no #DevDay 2011!" src="http://devday.devisland.com/eu-vou-no-devday-2011.png" />
</a>
</div>

<div id="copieColeDivulgue">
<p>Copie e cole no seu site:</p>
<textarea>
<a href="http://devday.devisland.com" target="_blank">
<img alt="Eu vou no #DevDay 2011!" src="http://devday.devisland.com/eu-vou-no-devday-2011.png" />
</a>
</textarea>
</div>
<p class="clear" />
</article>