@{
    ViewBag.Title = "Patrocínio";
}
<article>
<h2>Patrocinadores</h2>
<h3>Ouro</h3>
<ul id="patrocinadoresOuro">
    <li><a href="http://www.attps.com.br" target="_blank"><img src="../../Content/Images/logo_grupo_attps.jpg" alt="Grupo attps" /></a></li>
    <li><a href="http://www.siteware.com.br" target="_blank"><img src="../../Content/Images/logomarca-Siteware.png" alt="Centro Universitário UNA" /></a></li>
    <li><a href="http://www.una.br" target="_blank"><img src="../../Content/Images/una.jpg" alt="Centro Universitário UNA" /></a></li>
</ul>
<hr />
<h3>Por que patrocinar?</h3>
<p>Patrocinar eventos da comunidade é muito importante. É uma forma das empresas demonstrarem que se preocupam com o crescimento da comunidade e dos profissionais que nela estão inseridos.</p>
<p>Os melhores profissionais do mercado devem parte de sua formação às ações da comunidade, e consequentemente as empresas que dependem dos serviços desses profissionais se beneficiam dessas ações. É também uma forma das empresas retribuírem esses benefícios que as impactam direta ou indiretamente.</p>
<h3>Como patrocinar?</h3>
<p>Patrocinar o <strong>DevDay</strong> é muito simples. Temos duas cotas, sendo elas <strong>OURO</strong> e <strong>PRATA</strong>. Basta entrar em contato com a organização pelo e-mail <a href="mailto:devday@devisland.com">devday@devisland.com</a>.</p>
<h3>Patrocínio Ouro</h3>
<p>Na cota <strong>OURO</strong> o patrocinador será reconhecido neste site na seção <strong>patrocinadores ouro</strong> e no evento como patrocinador <strong>OURO</strong>, e terá acesso a lista dos participantes do evento para fins de divulgação de oportunidades de carreira.</p>
<p>O valor da cota ouro será de <strong>R$750,00 mais um <a href="#brinde">brinde</a>*</strong> que será sorteado no dia do evento.</p>
<h3>Patrocínio Prata</h3>
<p>Na cota <strong>PRATA</strong> o patrocinador será reconhecido neste site na seção <strong>patrocinadores prata</strong> e no evento como patrocinador <strong>PRATA</strong>, e terá acesso a lista dos participantes do evento para fins de divulgação de oportunidades de carreira.</p>
<p>O valor da cota prata será de <strong>R$500,00 mais um <a href="#brinde">brinde</a>*</strong> que será sorteado no dia do evento.</p>
<h4 id="brinde">Brinde</h4>
<p>O brinde será um livro. Este livro será adquirido pela organização do evento, cabendo ao patrocinador repassar a quantia de R$150,00 a organização junto do pagamento da taxa de patrocínio.</p>
<p>No momento do sorteio do brinde o patrocinador será reconhecido.</p>
<p>Caso o patrocinador queira distribuir algum outro brinde o mesmo deve ser repassado para a organização até o dia 22 de agosto.</p>
<h4>Indicação</h4>
<p>Se você indicou uma empresa para patrocinar o DevDay, peça para que a mesma nos envie o seu nome completo e e-mail para que você tenha direito a <strong>isenção</strong> do valor da inscrição.</p>
<h4>Destino dos investimentos</h4>
<p>Todos os valores arrecadados pela organização do evento não se destinam ao lucro.</p>
<p>Iremos realizar uma prestação de contas de como os investimentos foram aplicados.</p>
<p>Caso sobre alguma quantia do total investido, este valor será devolvido a comunidade de alguma forma que será divulgada no dia do <strong>DevDay</strong>.</p>
</article>