<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public 
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later 
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not, 
see http://www.gnu.org/licenses/.
-->

@{
    ViewBag.Title = "Patrocínio";
}
<div class="hero-unit">
    <h1>Patrocínio</h1>
</div>

<div class="row">
    <div class="span12">
        <h2>Por que patrocinar?</h2>
        <p>Patrocinar eventos da comunidade é muito importante. É uma forma das empresas demonstrarem que se preocupam com o crescimento da comunidade e dos profissionais que nela estão inseridos.</p>
        <p>Os melhores profissionais do mercado devem parte de sua formação às ações da comunidade, e consequentemente as empresas que dependem dos serviços desses profissionais se beneficiam dessas ações. É também uma forma das empresas retribuírem esses benefícios que as impactam direta ou indiretamente.</p>    
    </div>
    <div class="span12">
        <h2>Como patrocinar?</h2>
        <p>Patrocinar o <strong>DevDay</strong> é muito simples. Temos duas cotas, sendo elas <strong>OURO</strong> e <strong>PRATA</strong>. Basta entrar em contato com a organização pelo e-mail <a href="mailto:devday@devisland.com">devday@devisland.com</a>.</p>    
    </div>
</div>

<hr />

<div class="row">
    <div class="span6">
        <h2>Patrocínio Ouro</h2>
        <p>Na cota <strong>OURO</strong> o patrocinador será reconhecido neste site na seção <strong>patrocinadores ouro</strong> e no evento como patrocinador <strong>OURO</strong>, e terá acesso a lista dos participantes do evento para fins de divulgação de oportunidades de carreira.</p>
        <p>O valor da cota ouro será de <strong>R$750,00 mais um <a href="#brinde">brinde</a>*</strong> que será sorteado no dia do evento.</p>
    </div>
    <div class="span6">
        <h2>Patrocínio Prata</h2>
        <p>Na cota <strong>PRATA</strong> o patrocinador será reconhecido neste site na seção <strong>patrocinadores prata</strong> e no evento como patrocinador <strong>PRATA</strong>, e terá acesso a lista dos participantes do evento para fins de divulgação de oportunidades de carreira.</p>
        <p>O valor da cota prata será de <strong>R$500,00 mais um <a href="#brinde">brinde</a>*</strong> que será sorteado no dia do evento.</p>    
    </div>
</div>

<hr />

<div class="row">
    <div class="span4">
        <h3 id="brinde">Brinde</h3>
        <p>O brinde será um livro. Este livro será adquirido pela organização do evento, cabendo ao patrocinador repassar a quantia de R$150,00 a organização junto do pagamento da taxa de patrocínio.</p>
        <p>No momento do sorteio do brinde o patrocinador será reconhecido.</p>
        <p>Caso o patrocinador queira distribuir algum outro brinde o mesmo deve ser repassado para a organização até o dia 22 de agosto.</p>
    </div>
    <div class="span4">
        <h3>Indicação</h3>
        <p>Se você indicou uma empresa para patrocinar o DevDay, peça para que a mesma nos envie o seu nome completo e e-mail para que você tenha direito a <strong>isenção</strong> do valor da inscrição.</p>
    </div>
    <div class="span4">
        <h3>Destino dos investimentos</h3>
        <p>Todos os valores arrecadados pela organização do evento não se destinam ao lucro.</p>
        <p>Iremos realizar uma prestação de contas de como os investimentos foram aplicados.</p>
        <p>Caso sobre alguma quantia do total investido, este valor será devolvido a comunidade de alguma forma que será divulgada no dia do <strong>DevDay</strong>.</p>
    </div>
</div>