<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MailSmtpAddress" value="xxx" />
    <add key="MailSmtpPort" value="25" />
    <add key="MailAddress" value="xxx" />
    <add key="MailUsername" value="xxx" />
    <add key="MailPassword" value="xxx" />
  </appSettings>
</configuration>