<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva <gibran.silva@gmail.com>, Renato Saito <renato.saito@live.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay - Palestras";
}
@section footerpatrocinio
{
    @Html.Partial("FooterPatrocinio")
}
<div class="hero-unit">
    <h1>
        Palestras</h1>
    <h3>
        A lista de palestras será divulgada após a aprovação das submissões dia 01/09/2012</h3>
</div>
<div class="row">
    <div class="span8">
        <h2>
            <small>Agradecemos a todos que submeteram palestras e temas para o seu evento. Estamos iniciando a avaliação
                dos temas e assim que avaliarmos as quase 60 palestras, anunciaremos aqui os palestrantes, bem como
                enviaremos email informando da aprovação ou não do tema.</small>
        </h2>
        <br />
        <h3>
            O #DevDay2012<small> será realizado por vocês, desenvolvedores e membros da nossa comunidade, pois temos
                certeza que voc&ecirc;s t&ecirc;m muito a contribuir com a comunidade.</small>
            <br />
        </h3>
    </div>
    <div class="span4">
        <h2>
            Datas importantes:</h2>
        <div class="well">
            <span class="icon-check"></span>Submissão de palestras até <span class="badge badge-important">15 de agosto</span>
        </div>
        <div class="well">
            <span class="icon-check"></span>Aprovação de palestras até <span class="badge badge-inverse">01 de setembro</span>
        </div>
    </div>
</div>