<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva<gibran.silva@gmail.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
@{
    ViewBag.Title = "Grade";
}
<div class="hero-unit">
    <h1>
        Agenda</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th class="inicio">
                In&iacute;cio
            </th>
            <th class="fim">
                Fim
            </th>
            <th class="duracao">
                Dura&ccedil;&atilde;o
            </th>
            <th class="oque">
                O que?
            </th>
            <th class="titulo">
                T&iacute;tulo
            </th>
            <th class="autor">
                Autor(es)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                09:00
            </td>
            <td>
                09:20
            </td>
            <td>
                00:20
            </td>
            <td>
                Abertura
            </td>
            <td>
                Abertura do Evento
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                09:20
            </td>
            <td>
                10:00
            </td>
            <td>
                00:40
            </td>
            <td>
                Palestra
            </td>
            <td>
                Palestra 1
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                10:00
            </td>
            <td>
                10:20
            </td>
            <td>
                00:20
            </td>
            <td>
                Lighting Talk
            </td>
            <td>
                LT 1
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                10:20
            </td>
            <td>
                11:00
            </td>
            <td>
                00:40
            </td>
            <td>
                Palestra
            </td>
            <td>
                Palestra 2
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                11:00
            </td>
            <td>
                11:20
            </td>
            <td>
                00:20
            </td>
            <td>
                Lighting Talk
            </td>
            <td>
                LT 2
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                11:20
            </td>
            <td>
                12:00
            </td>
            <td>
                00:40
            </td>
            <td>
                Palestra
            </td>
            <td>
                Palestra 3
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                12:00
            </td>
            <td>
                13:30
            </td>
            <td>
                01:30
            </td>
            <td>
                Almoço
            </td>
            <td>
                Almoço
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                13:30
            </td>
            <td>
                13:50
            </td>
            <td>
                00:20
            </td>
            <td>
                Lighting Talk
            </td>
            <td>
                LT 3
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                13:50
            </td>
            <td>
                14:30
            </td>
            <td>
                00:40
            </td>
            <td>
                Palestra
            </td>
            <td>
                Palestra 4
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                14:30
            </td>
            <td>
                14:50
            </td>
            <td>
                00:20
            </td>
            <td>
                Lighting Talk
            </td>
            <td>
                LT 4
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                14:50
            </td>
            <td>
                15:30
            </td>
            <td>
                00:40
            </td>
            <td>
                Palestra
            </td>
            <td>
                Palestra 5
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                15:30
            </td>
            <td>
                16:00
            </td>
            <td>
                00:30
            </td>
            <td>
                Coffee
            </td>
            <td>
                Coffee
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                16:00
            </td>
            <td>
                16:20
            </td>
            <td>
                00:20
            </td>
            <td>
                Lighting Talk
            </td>
            <td>
                LT 5
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                16:20
            </td>
            <td>
                17:00
            </td>
            <td>
                00:40
            </td>
            <td>
                Palestra
            </td>
            <td>
                Palestra 6
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                17:00
            </td>
            <td>
                17:30
            </td>
            <td>
                00:30
            </td>
            <td>
                Case
            </td>
            <td>
                Case
            </td>
            <td>
                a definir
            </td>
        </tr>
        <tr>
            <td>
                17:30
            </td>
            <td>
                17:50
            </td>
            <td>
                00:20
            </td>
            <td>
                Encerramento
            </td>
            <td>
                Encerramento e Sorteios
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </tbody>
</table>
<p>
    LT - Lightning Talk</p>
<p>
    LA - Lightning Action</p>