<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva <gibran.silva@gmail.com>, Renato Saito <renato.saito@live.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay - Palestrantes";
}
@section footerpatrocinio
{
    @Html.Partial("FooterPatrocinio")
}
@section js
{
    <script src="@Url.Content("~/Content/js/bootstrap-tab.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        var hashes = window.location.href.slice(window.location.href.indexOf('#') + 1).split('&');
        if (hashes.length === 1) {
            $('#myTab a[href="#' + hashes[0] + '"]').tab('show');
        }
    </script>
}

<div class="hero-unit">
    <h1>Palestrantes</h1>
    <h3>Confira abaixo a lista de palestrantes</h3>
</div>
<div class="row">
    <div class="span12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs nav-stacked" id="myTab">
                <li class="active"><a href="#0">Alcebíades Araújo</a></li>
                <li><a href="#1">Alessandro Kieras</a></li>
                <li><a href="#2">Breno Santos Araújo</a></li>
                <li><a href="#3">Daniel Lopes</a></li>
                <li><a href="#4">Dyego Costa</a></li>
                <li><a href="#5">Elemar Júnior</a></li>
                <li><a href="#6">Emmanuel Brandão</a></li>
                <li><a href="#7">Giulia Sousa</a></li>
                <li><a href="#8">Glauber de Almeida Assunção</a></li>
                <li><a href="#9">Jean Carlo Nascimento</a></li>
                <li><a href="#10">Jose Donizetti</a></li>
                <li><a href="#11">Juliano Alves</a></li>
                <li><a href="#12">Luciano Ramalho</a></li>
                <li><a href="#13">Matthaus M. Schall L. Vizuete</a></li>
                <li><a href="#14">Paulo Roberto Macedo Chaves</a></li>
                <li><a href="#15">Robert Pereira Pinto</a></li>
                <li><a href="#16">Roberto Vasconcelos Novaes</a></li>
                <li><a href="#17">Victor Cavalcante</a></li>
                <li><a href="#18">Vinicius Quaiato</a></li>
                <li><a href="#19">Pablo Aguiar</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="0">
                    <p>
                        Profissional  com formação em gestão da tecnologia da informação e especialização em Marketing pela FGV. 
                        Com mais de 20 anos de experiência em projetos de desenvolvimento de software de diversos setores como industria, varejo e finanças, 
                        tem dedicado parte do seu tem para estudar como as organizações podem se adaptar aos atuais tempos complexos e como podemos fazer projetos realizando o máximo do potencial das pessoas.
                    </p>
                </div>
                <div class="tab-pane" id="1">
                    <p>
                        Alessandro Kieras é arquiteto de software da Arkhi. Possuem larga experiência com a plataforma Java, e vêm atuando nos últimos anos em projetos de transformação com SOA, BRMS, ESB, EAI e métodos ágeis.
                    </p>
                    <ul>
                        <li><a href="https://twitter.com/#!/kierasbr">Twitter</a></li>
                        <li><a href="http://br.linkedin.com/in/kieras">LinkedIn</a></li>
                        <li><a href="http://pangeanet.org/profile/kieras">Pangea</a></li>
                    </ul>
                </div>
                <div class="tab-pane" id="2">
                    <p>
                        Arquiteto - Spread Systems/ MSA infor
                        Nokia Developer
                        Mestre em Engenharia Elétrica - Dissertação sobre processamento de imagens pela PUC Minas
                    </p>
                </div>
                <div class="tab-pane" id="3">
                    <p>
                        Daniel trabalha profissionalmente com TI há mais de uma década e hoje é sócio da Objetiva Software, uma pequena consultoria premium focada em web e mobile.
                        Tem grande interesse em Ruby/Javascript e Frontend atuando boa parte do tempo na camada de interação com usuário e desenvolvimento Ruby.
                        Também trabalha como instrutor de treinamentos presenciais ou online em parceria com a Egenial, tendo treinado mais de 1000 alunos em assuntos como Ruby, Rails e Javascript.
                        Daniel também é bem ativo na comunidade de desenvolvimento, tendo já ministrado dezenas de palestras em eventos como RubyConf, Fisl, Ruby Masters, Café Com TOM e vários outros.
                    </p>
                </div>
                <div class="tab-pane" id="4">
                    <p>
                        Atualmente sou desenvolvedor na Lambda3 e trabalho com tecnologias Web. Possuo o título de Microsoft Student Partner (MSP).
                        Tenho três certificações, sou MCTS em ASP.NET 4.0 e 3.5.
                        Contribuo com a comunidade através de blog (http://dyegocosta.com), palestras, sou o tradutor da documentação do Selenium (que será publicada em breve), sou ativo em comunidades técnicas como .NET Architects e NHibernate Brasil.
                        Atualmente trabalho em aplicação que seguem o conceito de SPA e conheço a realidade do uso do Javascript em peso e a necessidade e aplicação de seus testes.
                    </p>
                </div>
                <div class="tab-pane" id="5">
                    <p>
                        Arquiteto, programador, pai, enxadrista, louco e apaixonado por vinhos. Também gosta de filosofia e teologia.
                        Conheceu o universo da computação bem cedo, por volta dos 9 anos. Aprendeu BASIC, Pascal, C e Assembly na adolescência. Apaixonado por MSX, escrevia várias vezes um mesmo programa por não ter grana para comprar um gravador de fita-cassete.
                        Vendeu a alma ao diabo e se rendeu a linguagens como Clipper, COBOL e Visual Basic para poder pagar as contas.
                        Sendo um cara de sorte, conseguiu arrumar quem o pagasse para escrever programas maneiros utilizando tecnologia de ponta. Aos 20 anos, passou a desenvolver softwares para projeto de ambientes 3D.
                        Mais velho, e supostamente mais maduro, passou a trabalhar com outras tecnologias. Conheceu a internet, banco de dados, computação distribuída (e paralela).
                        Hoje, trabalha com P&amp;D na Promob Software Solutions.
                        Há pouco tempo, honrado em ser reconhecido como Microsoft Visual C# MVP.
                    </p>
                </div>
                <div class="tab-pane" id="6">
                    <p>Desenvolvedor de software desde 2003 na plataforma .Net, para web e desktop, em diversos segmentos, indústria, logística, seguros, BI; Fã de arquitetura de software, agilidade e atualmente mobile.</p>
                </div>
                <div class="tab-pane" id="7">
                    <p>
                        Desenvolvedora de software apaixonada desde as primeiras linhas de código.
                        Bacharelanda em Sistemas de Informação pela Universidade Federal de Lavras, há 4 anos tenho trabalhado em diferentes projetos e domínios: sistemas de informações gerenciais; ERP; mineração de opinião em redes sociais, dentre outros.
                        Sempre em busca de conhecimento por meio do estudo de novas tecnologias e software open source na tentativa de aprimorar minhas habilidades em meus principais temas de interesse como melhoria de processos de gerenciamento e desenvolvimento de software, padrões de projeto e automatização de testes."
                    </p>
                </div>
                <div class="tab-pane" id="8">
                    <p>
                        É Bacharel em sistemas de informação e MCTS,(70-515,70-536).
                        Foi Palestrante no DevDay 2011 no tema qualidade de codificação.
                        Foi palestrante no DNAD2011.
                        Foi aprovado no curso de Inteligência Artificial online de Stanford.
                        Defendeu seu artigo sobre qualidade de codificação no CONIC 2011.
                        Atua há quase três anos em desenvolvimento web pela empresa Siteware Soluções.
                        Entusiasta sobre qualidade de codificação, vem estudando sobre o tema.
                    </p>
                </div>
                <div class="tab-pane" id="9">
                    <p>
                        Jean Carlo Nascimento conhecido como Suissa é entusiasta da internet desde os 10 anos de idade e trabalha com sites desde os 15.
                        Há oito é profissional de Desenvolvimento Web, utiliza primordialmente HTML5, CSS3, jQuery, PHP e Mysql.
                        Sendo também evangelista de tecnologias como NoSQL e Node.js. Formado pela UTF-PR, fez especialização em Desenvolvimento Web.
                        Atualmente trabalha como Webdeveloper Sênior, possuindo também projetos pessoais como nosqlbr.com.br, frontendbrasil.com.br, jquerybrasil.org; e é contribuinte do MongoBD.
                    </p>
                </div>
                <div class="tab-pane" id="10">
                    <p>
                        Desenvolvedor na Globo.com, onde tenta aplicar algortimos de machine learning para personalizar o consumo de usuários dos portais da empresa.
                        Instructor na Caelum a 4 anos, tendo ministrado cursos de Java, Ruby e Agilidade.
                    </p>
                </div>
                <div class="tab-pane" id="11">
                    <p>
                        Especializado em Engenharia de Software pela PUC-SP.
                        Trabalho com desenvolvimento de software a 6 anos e com métodos ágeis a 2, possuindo experiência com Java, Scala, Ruby e Python.
                        Contribuinte do framework opensource Mirror e do VidaGeek Games, (http://games.vidageek.net/) uma plataforma que mistura prática deliberada e Gamefication para ensino.
                        Palestreante no TDC 2012 SP.
                        Hoje trabalho na Lambda3, empresa envolvida no meio ágil desde que foi criada.
                        Aqui fazemos dojos para disseminar as práticas ágeis e compartilhar nossas experiências.
                    </p>
                </div>
                <div class="tab-pane" id="12">
                    <p>
                        Luciano Ramalho foi CTO do Brasil Online, primeiro portal da Abril S/A na Web, lançado em 1996.
                        Em 1998 fundou a Hiperlógica e implantou CMSs baseados em Python no BOL, IDG Now, AOL Brasil e outros portais.
                        Como instrutor atendeu Globo.com, Presidência da República, Promon etc.
                        Hoje oferece workshops online e in-house nas Oficinas Turing.com.br, e criou a Academia Python para a Globalcode.
                        Foi co-fundador e primeiro presidente da Associação Python Brasil e é membro eleito da Python Software Foundation.
                    </p>
                </div>
                <div class="tab-pane" id="13">
                    <p>
                        Instrutor de curso Android pela Pró-Informática e estudante de Engenharia de Computação pelo CEFET-MG. Possui experiência profissional em desenvolvimento .NET e em desenvolvimento Android.
                        Atualmente compõe equipe de desenvolvimento e análise na Agência Interativa Nitrato.
                    </p>
                </div>
                <div class="tab-pane" id="14">
                    <p>Eu sou desenvolvedor python desde de 2004, dentro e fora do ambiente web. Também trabalho com Javascript e tive experiência em php.</p>
                </div>
                <div class="tab-pane" id="15">
                    <p>
                        Robert é Mestre e Bacharel em Ciência da Computação pelo DCC-UFMG;
                        Possui MBA em Gestão de Empresas;
                        É certificado CTFL pelo ISTQB e CSTE pela QAI-Brasil;
                        Trabalhando há mais de 10 anos com desenvolvimento, banco de dados e qualidade de software, atua hoje na operação comercial e de parcerias da Base2 Tecnologia e como sponsor em projetos envolvendo ferramentas de testes de software.
                    </p>
                </div>
                <div class="tab-pane" id="16">
                    <p>
                        Roberto Vasconcelos Novaes é Mestre e Doutor em Filosofia pela UFMG.
                        Desenvolvedor de softwares de gestão empresarial em tempo integral.
                        Sócio Diretor da Sílex Sistemas e da Code House.
                    </p>
                </div>
                <div class="tab-pane" id="17">
                    <p>
                        Victor Cavalcante é Microsoft MVP na tecnologia ASP.Net, trabalha com desenvolvimento web a 12 anos,é focado em padrões de desenvolvimento para web.
                        Trabalha na Lambda3 (www.lambda3.com.br) empresa ágil que fundou com outros MVPs e amigos, e que insiste em fazer software certo.
                        É ainda professor universitário e atua no grupo .NET Architects desde seu início. Acompanhe seu twitter para saber as novidades: @Html.Raw("@vcavalcante").
                    </p>
                </div>
                <div class="tab-pane" id="18">
                    <p>
                        Sou um desenvolvedor de software.
                        Eu realmente gosto do que eu faço e passo uma boa parte do meu tempo fazendo isso.
                        Além de programar eu gosto de estudar. Sobre muitas coisas. Sou um eterno aprendiz neste sentido.
                        Desenvolvo software profissionalmente há uns 5 ou 6 anos (juro que não sei ao certo). Apesar deste tempo acredito que somente agora estou começando a desenvolver softwares de maneira profissional.
                        Já ministrei palestras: QCon 2011, .NET Architects Day 2010, .NET Architects Days 2011, RubyConf 2010, TDC 2010, TDC2011, Community Launch SP 2010, Community Launch RJ 2010, etc, etc, etc.
                        Já mudei de mundo: passei de uma vida inteiramente na plataforma Microsoft/.NET para o mundo Apple/OSX. E considero essa uma das experiências mais valiosas nessa jornada tecnológica: sair completamente da zona de conforto.
                        Passei a programar diariamente em tecnologias como: Ruby/Rails, Java/Groovy/Grails,
                        MongoDB, Postgres, Sinatra, etc, etc. Passei a me interessar muito por html e css, me interessar de uma maneira responsável. E por um bom tempo sequer liguei uma máquina virtual para iniciar o Windows :D
                        Hoje eu dedico meu tempo escrevendo códigos na Crafters. Trabalhando para criar um ambiente bacana para as pessoas trabalharem: adaptando técnicas, métodos e buscando formas de tornar o trabalho mais divertido, produtivo e eficiente.
                        Além de tudo isso sou um fanático torcedor do Santos FC, pai de uma linda guria de 1.5 anos, vegetariano e casado.
                    </p>
                </div>
                <div class="tab-pane" id="19">
                    <p>
                        Em breve.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
