@{
    ViewBag.Title = "Palestrantes";
}

<article>
<h2>Palestrantes</h2>
    <dl>
        <dt class="big">Daniel Lopes - @@danielvlopes</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/daniel.jpg" alt="Daniel Lopes" />É sócio fundador da recém criada Objetiva Software e está Envolvido com TI há quase uma década. Trabalha como desenvolvedor web com grande interesse em Ruby/TDD/Javascript e Frontend. Também é instrutor de treinamentos presenciais e online em parceria com a Egenial com mais de 500 alunos treinados em assuntos como Ruby e Rails. Também ministra a disciplina de Desenvolvimento Web em Pós Graduação na UNA e frequentemente participa da organização de eventos como Ruby Masters, Café Com TOM e Kata TOM. Formalmente é técnico e bacharel em Sistemas de Informação.</dd>
        <dt class="big">Douglas Aguiar - @@DouglasAguiar</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/douglas-aguiar.jpg" alt="Douglas Aguiar" />Douglas Aguiar é um desenvolvedor alucinado por tecnologia, atua como Líder de Desenvolvimento na Siteware. Apaixonou-se há pouco tempo pelo ASP .NET MVC e Scrum aos quais dedica a maior parte do seu trabalho. Possui as certificações MCSD, MCTS, MCAD, MCT e PSD. É formado pela faculdade Fabrai no curso de Tecnologia em Processamento de Dados e aluno do MBA de Gestão Empresarial pelo Núcleo de Pós Graduação Pitágoras. É tambem Líder da comunidade DevIsland e atua ativamente nas comunidades DevMinas e DotNetArchitects MG.
Iniciou há mais de um ano o uso do Scrum na Siteware e com isto sérios problemas de comunicação, qualidade e produtividade foram resolvidos. A empresa, que antes era cética quanto a aplicabilidade de metodologias ágeis, viu a produtividade do time crescer 200% em apenas seis meses, a qualidade de seu software melhorar e todo o time amadurecer.
Quer ver meu código? Eu uso Mercurial (Hg) e meu código fica no bitbucket.</dd>
        <dt class="big">Edgard Davidson - @@edgarddavidson</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/edgard-davidson.jpg" alt="Edgard Davidson" />Mestrando em Engenharia Elétrica pela PUC Minas (2010), pós graduado em Engenharia de Software pela UFMG (2007),  graduação em Sistemas de Informação pela PUC Minas (2006).

Tenho 27 anos e atualmente sou professor universitário do Centro Universitário UNA de Belo Horizonte, cidade onde moro.  Leciono ou já lecionei disciplinas como: Projeto de Software, Gerenciamento de Projetos de Software, Auditoria e Qualidade de Sistemas, Gerência de Projetos, Tecnologia e Inovação, Fundamentos de Sistemas Multimídias, Tecnologia da Informação e Sistemas de Informações em vários cursos como: Sistemas de Informação, Análise e Desenvolvimento de Sistemas, Logística, Produção Industrial e Gestão da Qualidade. Obtive essa experiência em duas instituições de ensino que trabalhei e que atualmente trabalho.
Estou concluindo o mestrado em Engenharia Elétrica pela PUC Minas com a linha de pesquisa em Engenharia de Software. Também sou coordenador e professor do curso de Pós Graduação em Engenharia de Software Centrada em Métodos Ágeis e do novo curso de pós graduação em Teste e Qualidade de Software, ambos ofertados pela UNA

Passei por algumas linguagens como C++ e Delphi. Atualmente, em projetos novos estou utilizando Java como back-end e Adobe Flex como front-end.

Para mais detalhes sobre meu currículo acadêmico acesse o link do lattes: http://lattes.cnpq.br/6311230153303498</dd>
        <dt class="big">Gibran Silva - @@ggibran</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/gibran-silva.jpg" alt="Gibran Silva" />Arquiteto de Solução pela Arkhi, trabalhando com arquitetura a 5 anos e apaixonado com desenvolvimento de software a 10 anos. Focado principamente em soluções de integração, motores de regras e processos de governança.<p class="clear" /></dd>
        <dt class="big">Giovanni Bassi - @@giovannibassi</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/giovanni-bassi.jpg" alt="Giovanni Bassi" />Arquiteto e desenvolvedor, agilista, pai, filho, namorado, escalador, provocador.
Programa porque gosta, e começou a trabalhar com isso porque acha que trabalhar como administrador é meio chato. Por esse motivo sempre diz que nunca mais vai virar gerente de ninguém. E também porque acredita que pessoas autogerenciadas funcionam melhor e por acreditar que heterarquia é melhor que hierarquia. Mas isso é outro assunto.
Foi reconhecido  Microsoft MVP depois que alguém notou que ele não dormia a noite pra ficar escrevendo artigos, cuidando e participando do .Net Architects, gravando o podcast Tecnoretórica, escrevendo posts no blog e falando o que bem entende no twitter @@giovannibassi. E por falar nisso é no twitter que conta pra todos que gerencia de projetos deve ser feita pelo time e não por um gerentes, que greves em TI são coisas sem sentido e que stored procedure com regras de negócio são malígnas.
Você já deve ter percebido (até porque está lá na primeira frase) que Giovanni é agilista. De tanto gostar disso ele trouxe os programas de certificação e treinamento  PSD e PSM da Scrum.org pro Brasil, e por causa deles, do MVP e de algum trabalho que aparece tem que ficar indo pros EUA de vez enquando, coisa que prefere não fazer. (É bem comum você ouvir ele perguntando porque a Scrum.org e a Microsoft não estão na Itália, por exemplo.)
Junto com alguns Jedis criou a Lambda3, que, apesar de ser pequena e de não ser muito comum no Brasil, insiste em fazer projetos e consultoria direito. Por causa da Lambda3 ele tem trabalhado mais do que quando era consultor independente, mas menos do que a maioria das pessoas. Quer dizer, isso se você considerar que os trabalhos junto à comunidade não são trabalho, caso contrário ele trabalha mais que a maioria das pessoas.
Recentemente ele resolveu que merecia viver melhor e ganhar uns anos de vida e desistiu de ser sedentário, fazendo algum barulho de vez em quando com os amigos no twitter com a hashtag #DotNetEmForma. Por causa do convite recente de amigos do lado Open Source (que ele respeita e admira), começou a escalar, e agora está sempre com as mãos machucadas. Mas ainda dá pra programar.
Você encontra ele sempre em algum evento, como o TechEd, e o DNAD, mas também outros menos comuns para o pessoal do .NET, como a RubyConf. Nesses eventos, ou ele está vendo palestras, ou batendo papo com alguém, ou codando alguma aplicação que alguém achou que dava pra fazer durante o evento.</dd>
        <dt class="big">Glauber Assunção - @@glaubercoder</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/GlauberCoder.jpg" alt="Galuber Assunção" />MCP, MCTS, Charter, Bacharelando em Sistemas de Informação

Trabalho na empresa @@Siteware onde tentamos atuar com as melhores práticas encontradas do mercado para desenvolvimento WEB. Atualmente desenvolvo um trabalho sobre qualidade em codificação junto a faculdade Ahanguera. Sou extremamente viciado em programação.<p class="clear" /></dd>
        <dt class="big">Márcio Sete - @@marciosete</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/marcio-sete.jpg" alt="Márcio Sete" />Márcio Sete que é Microsoft MVP - Most Valuable Professional na competência Visual Studio ALM - Application Lifecycle Management.

 

É especialista no gerenciamento do ciclo de vida de aplicativos (ALM), tendo nos últimos 13 anos casado gerência de negócio com Engenharia de Software em ínumeros projetos de diferentes portes, segmentos e complexidades no Brasil e em Londres, Reino Unido.

 

É especialista em Scrum, possuindo diversas certificações e sendo trainer oficial da Scrum.ORG sob o título de Professional Scrum Developer Trainer.

 

Tem se dedicado à melhoria dos processos de desenvolvimento de software em Minas Gerais através dos métodos ágeis de arquitetura, desenvolvimento e gestão de projetos. É presidente do comitê de engenharia de software da Assespro-MG e professor de métodos ágeis de desenvolvimento de Software no curso de pós graduação em engenharia de Software do Centro Universitário UNA.

 

É evangelista Microsoft, mantendo um relacionamento próximo da Microsoft desde 2002, participando de reuniões exclusivas e também dos principais eventos direcionados para comunidade técnica no Brasil, Estados Unidos e Europa.

 

É fundador e suporta também o DevMinas - Grupo de Desenvolvedores de Minas Gerais. http://www.devminas.net


Possui diversas certificações técnicas e é usuário intensivo e dependente de novas tecnologias e novidades eletrônicas.</dd>
        <dt class="big">Rodrigo Vidal - @@RodrigoVidal</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/rodrigo-vidal.png" alt="Rodrigo Vidal" />Rodrigo Vidal é um desenvolvedor apaixonado por software. Atua com Arquitetura de Software, Boas Práticas, TDD, DDD e Agilidade. Atualmente está focado em Programação Funcional e evangelizando a linguagem F#. É membro do Grupo .NETArchitects e Professional Scrum Developer pela Scrum.org.<p class="clear" /></dd>
        <dt class="big">Rogger Fabri - @@RoggerFabri</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/rogger-fabri.jpg" alt="Rogger Fabri" />É desenvolvedor na empresa @@Siteware e atua profissionalmente há 2 anos. É apaixonado pela plataforma .NET, tem grande interesse em TDD, boas práticas, Integração Contínua e Padrões de Projeto. É Bacharel em Ciência da Computação pela UFLA, viciado em música e livros.<p class="clear" /></dd>
        <dt class="big">Vinicius Quaiato - @@vquaiato</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/vinicius-quaiato.jpg" alt="Vinicius Quaiato" />@@vquaiato, também conhecido pelo apelido de Vinicius Quaiato, desenvolve software há 4 anos e é apaixonado por isso. Não possui pretensões gerenciais. Gosta de código, padrões e arquitetura. 

Seu esporte é torcer de maneira fanática pelo Santos FC: vai aos estádios, canta, grita e fica bravo.
Já escreveu para revistas e realizou palestras em diversos eventos. 
De forma remunerada atua como coordenador do time de desenvolvimento em .NET na Gonow Tecnologia.
É o pai coruja de uma linda guria de 7 meses. Ele também mantém um blog sobre arquitetura e a plataforma .NET. 
Ele gosta de encher o saco, trollar e discordar no Twitter.
O @@vquaiato também passa algum tempo tentando escrever sua bio de maneiras transudas pois ele não possui certificações.</dd>
        <dt class="big">Walter Dias - @@walterbh</dt>
        <dd><img class="polaroid palestrante" src="/Content/Images/walter-dias.jpg" alt="Walter Dias" />Pós-graduação em Arquitetura de Software pelo IGTI(2010) , Graduação em Sistema de Informações pela UNA (2007)
 
Tenho 28 anos e atualmente sou Arquiteto de Software na Localiza Rent a Car, trabalho com desenvolvimento de software de 2000 tendo experiência .Net 2001 Beta 2 ate o Visual Studio 2010, já trabalhei com linguagem como Pascal, C++, Clipper, C#, TIBCO(BW, ESM).
Comecei trabalhando de forma profissional na Siteware desenvolvendo software na área de Qualidade Total, após trabalhei na Techbiz Informática prestando serviço para a Localiza na área Financeira, atualmente na Localiza sou responsável pela parte de qualidade de código dos frameworks bem como integrações entre a Localiza e seus parceiros, segurança de software, participo também de um projeto de implementação de processos de Governança de TI bem como incentivo a utilização de SOA pela corporação.</dd>
    </dl>
</article>