<p class="pull-right">
    <a class="btn btn-primary btn-inverse" href="@Url.Content("~/Content/download/RegrasOficiais.pdf")">Download das regras</a>
    @Html.ActionLink("Minhas submissões", "Index", "Desafio", null, new { @class = "btn btn-primary btn-inverse" })
    @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-primary btn-inverse" })
</p>
