@{
    ViewBag.Title = "Patrocinadores do DevDay 2011";
}
<article>
<h2>Patrocinadores</h2>
<h3>Ouro</h3>
<dl>
    <dd><a href="http://www.una.br" target="_blank"><img src="../../Content/Images/una.jpg" alt="Centro Universitário UNA" /></a></dd>
</dl>

<h4>Quer patrocinar o DevDay?</h4>
<p>Saiba mais @(Html.ActionLink("na seção patrocínio", "Index", "Patrocinio")).</p>
</article>