@{
    ViewBag.Title = "Local";
}

<article>
<h2>Local</h2>
<p>UNA Campus Aimorés - Auditório Ministro Carlos Mário Veloso</p>
<p><a href="http://goo.gl/maps/URtZ">Rua Aimorés, 1451, Bairro Lourdes</a></p>
<p>Belo Horizonte, Minas Gerais</p>
<div id="mapa">
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?q=Una&amp;gl=br&amp;hl=pt-BR&amp;ie=UTF8&amp;view=map&amp;cid=5899578688469202309&amp;ll=-19.928617,-43.937206&amp;spn=0.006295,0.006295&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.br/maps?q=Una&amp;gl=br&amp;hl=pt-BR&amp;ie=UTF8&amp;view=map&amp;cid=5899578688469202309&amp;ll=-19.928617,-43.937206&amp;spn=0.006295,0.006295&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
<!--<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Aimor%C3%A9s,+1451,+Belo+Horizonte&amp;sll=-19.928617,-43.937206&amp;sspn=0.012608,0.016265&amp;gl=br&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Aimor%C3%A9s,+1451+-+Lourdes,+Belo+Horizonte+-+Minas+Gerais,+30140-071&amp;ll=-19.928612,-43.937201&amp;spn=0.009683,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Aimor%C3%A9s,+1451,+Belo+Horizonte&amp;sll=-19.928617,-43.937206&amp;sspn=0.012608,0.016265&amp;gl=br&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Aimor%C3%A9s,+1451+-+Lourdes,+Belo+Horizonte+-+Minas+Gerais,+30140-071&amp;ll=-19.928612,-43.937201&amp;spn=0.009683,0.013733&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>-->
</div>
<figure>
<img class="polaroid" src="http://www.una.br/img/galeria/2009/08/32.jpg" alt="Auditório onde será realizado o evento." />
<img class="polaroid" src="http://www.una.br/img/galeria/2009/08/35.jpg" alt="Auditório Ministro Carlos Mário Veloso." />
</figure>
</article>