<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public 
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later 
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not, 
see http://www.gnu.org/licenses/.
-->

@{
    ViewBag.Title = "Local";
}

<div class="hero-unit">
    <h1>Local</h1>
    <p>UNA Campus Aimorés - Auditório Ministro Carlos Mário Veloso</p>    
</div>

<div id="mapa">
<iframe width="940" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?q=Una&amp;gl=br&amp;hl=pt-BR&amp;ie=UTF8&amp;view=map&amp;cid=5899578688469202309&amp;ll=-19.928617,-43.937206&amp;spn=0.006295,0.006295&amp;iwloc=A&amp;output=embed">
</iframe>
<br />

<a href="http://maps.google.com.br/maps?q=Una&amp;gl=br&amp;hl=pt-BR&amp;ie=UTF8&amp;view=map&amp;cid=5899578688469202309&amp;ll=-19.928617,-43.937206&amp;spn=0.006295,0.006295&amp;iwloc=A&amp;source=embed" class="btn">Exibir mapa ampliado &raquo;</a>

</div>