<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva <gibran.silva@gmail.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
@{
    ViewBag.Title = "Local";
}

<div id="map_canvas"></div>
		
<div class="container">
	<h1>Local</h1>
	<p>UNA Campus Aimorés - Auditório Ministro Carlos Mário Veloso</p>
</div>