@{
    ViewBag.Title = "DevDay 2011 - dia 27 de agosto";
}
<article>
<h2>DEVELOPERS!!!</h2>
<p>Preparem-se para a glória!</p>
<p>O evento organizado por desenvolvedores para desenvolvedores está de volta.</p>
<p>O <strong>DevDay 2011</strong> será no dia <strong>27 de agosto</strong> e conta com @Html.ActionLink("palestrantes", "Index", "Palestrantes") de alto nível que demonstrarão os temas escolhidos por vocês.</p>
<p>Vamos falar muito sobre todas as técnicas e práticas de desenvolvimento de software.</p>
<p>Se você é ou quer tornar-se um <strong>desenvolvedor</strong> não pode perder este evento!</p>
<p>DEVELOPERS!!! WHAT'S YOUR PROFESSION?!?!?!</p>
<h3>Programação</h3>
<p>O evento será no dia 27 de agosto de 9 horas à 18:30. Será o dia todo, com assuntos diversos abordando várias tecnologias e linguagens.</p>
<p>A programação do evento estará disponível em breve. Estamos avaliando as opiniões dos pré-inscritos para a montagem da grade oficial.</p>
<h3>Como foi o DevDay 2010?</h3>
<p><a href="http://devisland.com/post/DevDay-Slides-e-Fotos.aspx">Saiba como foi o <strong>DevDay</strong> 2010.</a></p>
<p><a href="https://picasaweb.google.com/doaguiar/DevDay">Aproveite e veja também as fotos do evento.</a></p>
<p>Ano passado tivemos 90 pessoas presentes, este ano a meta é 250! Ajude-nos a @Html.ActionLink("divulgar", "Index", "Divulgue") o evento.</p>
</article>