<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva <gibran.silva@gmail.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
@{
    ViewBag.Title = "DevDay 2012";
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item item1">
            <p class="caption">
                DEVELOPERS!!! WHAT'S YOUR PROFESSION?!?!</p>
        </div>
        <div class="item item1">
            <p class="caption">
                O evento organizado de desenvolvedores para desenvolvedores está de volta!</p>
                <p>
                Se você é ou quer tornar-se um <strong>desenvolvedor</strong>, não pode perder este evento!</p>
            <p>@Html.ActionLink("Inscreva-se já »", "Index", "Inscricoes", new { id = "btnInscricoes" }, new { @class = "btn" })</p>
        </div>
        <div class="item item2">
            <p class="caption">
                #DevIsland</p>
        </div>
        <div class="item item3">
            <p class="caption">
                #HoraExtra</p>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> <a class="carousel-control right"
        href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>