@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay - Inscrições";
}
@section footerpatrocinio
{
    @Html.Partial("FooterPatrocinio")
}
<div class="hero-unit">
    <h1>Inscrições</h1>
</div>
<div class="row">
    <div class="span8">
        <h2>
            <small>As vagas do <strong>DevDay 2012</strong> se esgotaram! Parabéns para você que fará parte do maior evento de desenvolvedores
                de Belo Horizonte. E para você que não conseguiu, fique ligado no nosso site e twitter, nos vemos no próximo DevDay!
            </small>
        </h2>
    </div>
    <div class="span4">
        <h2>Datas importantes:</h2>
        <div class="well">
            <span class="icon-check"></span>Pré-inscritos de <span class="badge badge-important">25 à 29 de Julho</span>
            <br />
            <span class="icon-check"></span>Primeiro Lote de <span class="badge badge-important">30 de Julho até 15 de
                agosto</span>
            <br />
            <span class="icon-check"></span>Segundo Lote de <span class="badge badge-important">16 de Agosto até 1 de
                setembro</span>
            <br />
            <span class="icon-check"></span>Terceiro Lote de <span class="badge badge-important">2 de Setembro até 15
                de outubro</span>
        </div>
        <div class="well">
            <span class="icon-check"></span>Data do evento <span class="badge badge-inverse">20 de Outubro</span>
        </div>
    </div>
</div>
