@{
    ViewBag.Title = "Inscrições";
}
<article>
<h2>Faça a sua pré-inscrição!</h2>
<p><a href="http://bit.ly/PreDevDay2011">Faça a sua pré-inscrição para o <strong>DevDay</strong>!</a></p>
<p>Ao fazer a sua pré-inscrição para o <stron>DevDay</stron> além de ficar sabendo em primeira mão quando as inscrições forem abertas, você poderá opinar sobre o valor da inscrição e sobre os temas que serão abordados no evento.</p>
<p>Não perca esta chance!</p>
</article>