<!--
Copyright 2011 Douglas Aguiar<doaguiar@gmail.com>
Copyright 2012 Douglas Aguiar<doaguiar@gmail.com>, Glauco Vinicius<gl4uc0@gmail.com>, Gibran Silva <gibran.silva@gmail.com>, Renato Saito <renato.saito@live.com>

This file is part of DevDay website.

DevDay website is free software: you can redistribute it and/or modify it under the terms of the GNU General Public
License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later
version.

DevDay website is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with DevDay website. If not,
see http://www.gnu.org/licenses/.
-->
@{
    ViewBag.Title = "DevDay 2012 - Belo Horizonte #DevDay - Inscrições";
}
<div class="hero-unit">
    <h1>
        Inscrições</h1>
</div>
<div class="row">
    <div class="span8">
        
    <h2>
        <small>Ao fazer a sua pré-inscrição para o <strong>DevDay</strong> você poderá opinar sobre o valor
            da inscrição e sobre os temas que serão abordados no evento, além de ficar sabendo
            em primeira mão quando as inscrições forem abertas.</small>
        <br />
        <small>Não perca esta chance!</small></h2>
    </div>
    <div class="span4">
        <h2>
            Datas importantes:</h2>
        <div class="well">
            <span class="icon-check"></span>Início das inscrições em <span class="badge badge-inverse">
                25 de Julho</span>
        </div>
        <div class="well">
            <span class="icon-check"></span>Data do evento <span class="badge badge-inverse">
                20 de Outubro</span>
        </div>
    </div>
</div>
    <hr />
    <iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dEs1a1hPaEFvakp4QngwZE8xUnN2YVE6MQ"
        width="100%" height="635" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>